<%- include('parts/header')%>
<%- include('parts/navbar')%>
<%var user%>
<%var photo%>
    <div class="container mt-5">
        <div class="card bg-light">
            <div class="row" style="height: 200px;">
                <div class="col-3 mb-0" >
                    <label for="img-upload">
                        <img src="./photos/<%=`${user.id}`%>.jpg" onerror="this.src='./photos/user.jpg'" width="200" class=" rounded float-start" alt="...">
                    </label>
                    <input type="file" id="img-upload" class="invisible">
                </div>
                <div class="col-8 ">
                    <div class="card-body">
                        <h5 class="card-title"><%=user.name%></h5>
                        <ul>
                            <li><%=user?.email%></li>
                            
                        </ul>
                        <a href="/" class="btn btn-primary">Start chatting</a>
                      </div>
                </div>
            </div>
            
        </div>
    </div>
<script src="./user.js"></script>
<%- include('parts/footer')%>