<%- include('parts/header')%>
    <%- include('parts/navbar')%>
        <% var user%>
            <div class="container">
                <h2>Welcome <%= user ? "to the chat, " + user.name+"!" : "Guest!" %>
                </h2>
                <%if(!user) {%>
                    <p class="mt-4">Do not have a account yet? <a href="/register">Register here</a></p>
                    <p class="mt-4">Already registered? <a href="/login">Login here</a></p>
                    <%}%>
                <%if(user) {%>
                    <div class="m-auto row container d-flex justify-content-center"></div>
                    <div class="col-md-6 border border-warning m-auto mt-3 p-3">
                        <div class="box box-warning direct-chat direct-chat-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Chat Messages</h3>
                                <div class="box-tools pull-right">
                                    <span data-toggle="tooltip" title=""
                                        class="mb-1 badge bg-yellow bg-warning text-dark"
                                        data-original-title="3 New Messages">Messages: <%=messages.length%></span>
                                </div>
                            </div>
                            <div class="box-body" style="height: 450px;">
                                <div class="direct-chat-messages overflow-auto p-3 mb-3 mb-md-0 mr-md-3"
                                    style="max-width: 100%; max-height: 430px;" id="scroll-box">
                                    <%for (let message of messages){%>
                                        <%if (message['authorEmail'] === user.email) {%>
                                    <div class="d-flex justify-content-end align-items-center">
                                        <div class="direct-chat-msg m-2 border rounded bg-dark text-white p-2">
                                            <div class="direct-chat-info clearfix text-secondary">
                                                <span class="direct-chat-name pull-left"><%=message['authorName']%></span>
                                                <span class="direct-chat-timestamp pull-right">| <%=message['date']%></span>
                                            </div>
                                            <div class="direct-chat-text"><%=message['content']%></div>
                                        </div>
                                        <img class="direct-chat-img rounded-circle" width="60" height="60"
                                        src="./photos/<%=`${message['authorID']}`%>.jpg" onerror="this.src='./photos/user.jpg'" alt="message user image">

                                    </div>
                                    <%} else {%>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <img class="direct-chat-img rounded-circle" width="60" height="60"
                                            src="./photos/<%=`${message['authorID']}`%>.jpg" onerror="this.src='./photos/user.jpg'" alt="message user image">
                                            <div class="direct-chat-msg m-2 border rounded bg-light text-dark p-2">
                                                <div class="direct-chat-info clearfix text-secondary">
                                                    <span class="direct-chat-name pull-left"><%=message['authorName']%></span>
                                                    <span class="direct-chat-timestamp pull-right">| <%=message['date']%></span>
                                                </div>
                                                <div class="direct-chat-text"><%=message.content%></div>
                                            </div>
                                        </div>
                                    <%}}%>
                                </div>
                            </div>
                            <div class="box-footer">
                                <form action="/send" method="post">
                                    <div class="input-group">
                                        <input type="text" name="content" placeholder="Type Message ..."
                                            class="form-control" required autocomplete="off">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-warning btn-flat">Send</button>
                                            <a href="/" class="btn btn-warning btn-flat">Refresh</a>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        <script src='./main.js'></script>
        <%}%>
<%- include('parts/footer')%>